__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
box_saves/*

raw_chapters/*
raw_novel/*
jpegs/*
final_chapters/*
!raw_chapters/example
!final_chapters/example
.env
testerr/*
notebooks/english*
notebooks/issue*
local_benchmark/*
benchmark/*
